<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生登录</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.css">
</head>
<body>
    <div>
        <i class="fa fa-university fa-2x" aria-hidden="true">
            <a href="{% url 'index' %}">回到首页</a>
        </i>
    </div>
    <form class="box" action="{% url 'login' %}" method="POST" autocomplete="off">  <!--之后页面改成学生登录成功后的页面-->
        {% csrf_token %}
        <h1>学生登录</h1>
        <input type="text" id="id_sid" name="sid" placeholder="学号">
        <input type="password" id="id_password" name="password" placeholder="密码">
        <p class="one">{{msg}}</p>
        <input type="submit" name="" value="登录">
        <a href="{% url 'register' %}">还没有账号？前去注册</a>
        {% csrf_token %}
    </form>
</body>
</html>