<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生注册</title>
    <link rel="stylesheet" href="../static/css/register.css">
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.css">
    <!--
    <script>
        function validate() {
            var pwd1 = document.getElementById("pwd1").value;
            var pwd2 = document.getElementById("pwd2").value;
            if(pwd1 == pwd2) {
                msg1="两次密码相同";
                document.all["tishi"].innerHTML=msg1;
                document.getElementById("submit").disabled = false;
            }
            else {
                msg1="两次密码不相同";
                document.all["tishi"].innerHTML=msg1;
              document.getElementById("submit").disabled = true;
            }
        }
    </script>
    -->
</head>
<body>
    <div>
        <i class="fa fa-university fa-2x" aria-hidden="true">
            <a href="{% url 'index' %}">回到首页</a>
        </i>
    </div>
    <form class="box" action="{% url 'register' %}" method="POST" autocomplete="off">
        {% csrf_token %}
        <h1>学生注册</h1>
        <input type="text" id="id_sid" name="sid" placeholder="学号">
        <input type="password" id="id_password" name="password" placeholder="密码">
        
        <!--
        <input type="password" id="pwd1" name="password" placeholder="密码">
        <input type="password" id="pwd2" name="password1" placeholder="请再次输入密码" οnkeyup="validate()"><strong id="tishi"></strong>-->


        <input type="text" id="id_name" name="name" placeholder="姓名">
        <select name="sdept" id="id_sdept" onchange="document.getElementById('input').value=this.value">
            <option value="计算机科学与技术学院">计算机科学与技术学院</option>
            <option value="电气与自动化学院">电气与自动化学院</option>
            <option value="外国语学院">外国语学院</option>
            <option value="理学院">理学院</option>
        </select>
        <input type="text" id="id_sclass" name="sclass" placeholder="班号">
        <input type="text" id="id_email" name="email" placeholder="邮箱">
        <p style="color: yellow;font-size: 20px;">{{msg}}</p>
        <div class="error btns" id="jsEmailTips">
            {{ msg0 }}
        </div>
        <input type="submit" name="" value="注册">
        <a href="{% url 'login' %}">已经有账号？前去登录</a>
        {% csrf_token %}
    </form>

</body>
</html>