<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>成绩</title>
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <!-- 必须在引入bootstarp.js之前引入 -->
    <script src="/static/jquery-3.3.1.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/test.css">
<style>
.hasBeenAnswer {
	background: #5d9cec;
	color:#fff;
}
</style>
</head>
<body>
    
    <nav class="navbar navbar-expand-sm bg-light navbar-light ">
        <ul class="navbar-nav">
            <li style="position: absolute;left: 70px; font-size: 30px;color: #ffffff">您的成绩为：{{grade}}</li>
            <a href="{%url 'StuExamInfo' %}" style="position: absolute;right: 70px; font-size: 30px;color: #ffffff">返回</a>
        </ul>
    </nav>
    {% if wrong_num == 0 %}
            <hl style="font-size: 45px;color: #ff0000;">恭喜您全部正确！</hl>
            <div>
                <img src="/static/img/13.jpg">
            </div>
    {% else %}
    <!--<div class="main">-->
        <div class="test_main">
            <div class="test">
                <div class="test_content">
                    <div class="test_content_title">
                        <h2>您的错题是：</h2>
                    </div>
                </div>
                <div class="test_content_nr">
                    <ul>
                        {% for i in wrong_question %}
                        <li id="{{ i.id }}">
                            <div class="test_content_nr_tt">
                                <i>{{ forloop.counter}}</i><span>({{ i.score }}分)</span>
                                <font>{{ i.content }}</font>
                            </div>

                            <div class="test_content_nr_main">
                                <ul>
                                    <li class="option">
                                        <label>
                                            A.<p class="ue" style="display: inline;">{{ i.choice_a }}</p>
                                        </label>
                                    </li>

                                    <li class="option">
                                        <label>
                                            B.<p class="ue" style="display: inline;">{{ i.choice_b }}</p>
                                        </label>
                                    </li>

                                    <li class="option">
                                        <label>
                                            C.<p class="ue" style="display: inline;">{{ i.choice_c }}</p>
                                        </label>
                                    </li>

                                    <li class="option">
                                        <label>
                                            D.<p class="ue" style="display: inline;">{{ i.choice_d }}</p>
                                        </label>
                                    </li>

                                </ul>
                                
                                <span style="color: #ff0000; font-size:18px; font-weight:bold;">正确答案：{{i.answer}}</span>
                            </div>
                        </li>
                        {% endfor %}   
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    
    <!--</div>-->
    
</body>
</html>