<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <!-- 必须在引入bootstarp.js之前引入 -->
    <script src="/static/jquery-3.3.1.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

    <link rel="stylesheet" href="/static/css/studentinfo.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    
    <title>学生页面</title>
</head>
<body>
    <!--
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fa fa-bars" aria-hidden="true" id="btn"></i>
        <i class="fa fa-times-circle-o" aria-hidden="true" id="cancel"></i>
    </label>
    -->
    <div class="sidebar">
        <header>TestOnline</header>
        <div class="info-photo">
                <div class="profile-dtl">
                    <img src="/static/img/10.jpg">
                    <h2>{{ request.session.name }}</h2>
                </div>
        </div>
        <ul>
            <li><a href="{%url 'StuInfoPersonal' %}"><i class="fa fa-user-o" aria-hidden="true"></i>个人信息</a></li>
            <li><a href="{%url 'StuExamInfo' %}"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>考试信息</a></li>
            <li><a href="{%url 'StuGradeInfo' %}"><i class="fa fa-check-square-o" aria-hidden="true"></i>成绩查看</a></li>
            <li><a href="{% url 'index' %}"><i class="fa fa-times" aria-hidden="true"></i>退出</a></li>
        </ul>
    </div>
    <section>
    
    </section>
</body>
</html>