<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/teacherinfo.css">
    <link rel="stylesheet" href="/static/css/studentinfo.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <title>教师页面</title>
</head>
<body>
    <!--
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fa fa-bars" aria-hidden="true" id="btn"></i>
        <i class="fa fa-times-circle-o" aria-hidden="true" id="cancel"></i>
    </label>
    -->
    <div class="sidebar">
        <header>TestOnline</header>
        <div class="info-photo">
                <div class="profile-dtl">
					<img src="/static/img/11.jpg">
					<h2>{{ request.session.name }}</h2>   <!--此处之后改为用户名字-->
                </div>
            </div>
        <ul>
            <li><a href="{% url 'TeaInfoPersonal' %}">个人信息</a></li>
            <li><a href="#">成绩统计</a></li>
            <li><a href="{% url 'TeaShowGrade' %}">成绩查看</a></li>
            <li><a href="#">组卷</a></li>
            <li><a href="{% url 'index' %}">退出</a></li>

        </ul>
    </div>
    <section>
    </section>
</body>
</html>