<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <!-- 必须在引入bootstarp.js之前引入 -->
    <script src="/static/jquery-3.3.1.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

    <link rel="stylesheet" href="/static/css/teacherinfo.css">
    <link rel="stylesheet" href="/static/css/studentinfo.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    
    <title>教师页面</title>
</head>
<body>
    <!--
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fa fa-bars" aria-hidden="true" id="btn"></i>
        <i class="fa fa-times-circle-o" aria-hidden="true" id="cancel"></i>
    </label>
    -->
    <div class="sidebar">
        <header>TestOnline</header>
        <div class="info-photo">
                <div class="profile-dtl">
					<img src="/static/img/11.jpg">
					<h2>{{ request.session.name }}</h2>   <!--此处之后改为用户名字-->
                </div>
            </div>
        <ul>
            <li><a href="{% url 'TeaInfoPersonal' %}">个人信息</a></li>
            <li><a href="#">成绩统计</a></li>
            <li><a href="{% url 'TeaShowGrade' %}">成绩查看</a></li>
            <li><a href="#">组卷</a></li>
            <li><a href="{% url 'logout' %}">退出</a></li>
        </ul>
    </div>
    <section>
    <div class="container">
        <div class="tab-content">
            <div id="home" class="container tab-pane active"><br>
                <h3>学生成绩</h3>
                <!--<form class="box" action="{% url 'register' %}" method="POST" autocomplete="off">-->
                <div class="box_1">
                
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp查询方式：
                    <select name="way" id="way" onchange="document.getElementById('input').value=this.value">
                        <option value="全部">全部</option>
                        <option value="第一次成绩">第一次成绩</option>
                        <option value="最高成绩">最高成绩</option>
                    </select>
                       
                    &nbsp&nbsp&nbsp&nbsp班级：
                    <select name="class" id="class" onchange="document.getElementById('input').value=this.value">
                        <option value="1704201">1704201</option>
                        <option value="1705101">1705101</option>
                    </select>
                    
                    &nbsp&nbsp&nbsp&nbsp科目：
                    <select name="subject" id="subject" onchange="document.getElementById('input').value=this.value">
                        <option value="算法">算法</option>
                        <option value="计算机组成原理">计算机组成原理</option>
                        <option value="计算机网络">计算机网络</option>
                    </select>
                    
                    &nbsp&nbsp&nbsp&nbsp<input type="submit" name="" value="查询">
                
                </div>
                    
                <!--</form>-->
                <table class="table">
                    <thead>
                        <tr>
                            <th>科目</th>
                            <th>试卷名称</th>
                            <th>学号</th>
                            <th>姓名</th>
                            <th>成绩</th>
                            <th>提交时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in grade%}   
                        <tr class="examinfo">
                            <td>{{ i.course.name }}</td>
                            <td>{{ i.exam_name }}</td>
                            <td>{{ i.stu.sid }}</td>
                            <td>{{ i.stu.name }}</td>                                    
                            <td>{{ i.grade }}</td>
                            <td>{{ i.exam_time }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </section>
</body>
</html>