body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url('/static/img/6.jpg');
}
i{
    color: white;
    margin: 20px 20px;
}
a{
    color: #fff;
    font-size: 30px;
    text-decoration: none; /*没有下划线*/
    font-family: sans-serif; /*字体*/
}
.box{
    width: 300px;
    padding-top:10px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /*background: #191919;*/
    background-color: rgba(0,0,0,0.4);
    text-align: center;
}
.box h1{
    color: rgb(255, 255, 255);
    padding-top: 0px;
    text-transform: uppercase;
}
.box p.one{
    margin: 20px auto;
    font-size: 20px;
    text-align: center;
    color: yellow;
    font-weight: 500;
    /*border-style: solid;*/
    width: 200px;
}
.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    border-image-slice: 10;
    padding: 10px 10px;
    width: 210px;
    outline: none;
    color :#fff;
    transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
}
.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    font-size: 20px;
    text-align: center;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    border-image-slice: 10;
    padding: 10px 10px;
    width: 120px;
    outline: none;
    color :#fff;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "submit"]:hover{
    background: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}
.box a{
    font-size: 15px;
}
.box select{
    border: 0;
    background: #000;
    display: block;
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    border-image-slice: 10;
    padding: 10px 10px;
    width: 230px;
    outline: none;
    color :#fff;
    transition: 0.25s;
}
.box select:focus{
    width: 280px;
}

.error{
    background: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    color:#fff !important;
    text-align: center;
    line-height: 40px !important;
    margin: 30px auto;
    width: 180px;
    font-size: 20px;
}

