body {
    background: url('/static/img/5.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}
i {
    margin-top: 10px;
    margin-left: 10px;
    color: #000;
}
#login-box {
    width: 320px;
    height: 320px;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    padding: 20px 50px;
}
#login-box h1 {
    color: #fff;
}
#login-box .form .item{
    margin-top: 50px;
}
#login-box .form .item i{
    font-size: 18px;
    color: #fff;
}
#login-box .form .item input{
    width: 180px;
    font-size: 18px;
    border: 0;
    border-bottom: 2px solid #fff;
    padding: 5px 10px;
    background-color:rgba(255,255,255,0);
    color: #fff;
}
#login-box button{
    margin-top: 40px;
    width: 150px;
    height: 30px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    border: 0;
    border-radius: 15px;
}
#login-box .p{
    margin-top: 50px;
    font-size: 18px;
    color: #fff;
}